*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background: linear-gradient(#00f7ff, #0099ff);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.model{
    display: none;
    visibility: hidden;
}

#gif_logo{
    margin-right: 125px;
}

#shiba_logo{
    position: absolute;
}