*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

header{
    background-color: rgb(0, 153, 255);
    width: 1880px;
    height: 110px;
    margin-top: 40px;
    border-radius: 25px;
    
}

