* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 255, 200, 0.5);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #00eeff;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    border-radius: 50px;
}

header{
    background: linear-gradient(#00f7ff, #0099ff);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oculto {
    display: none;
    visibility: hidden;
}

button {
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
}

.addPet {
    background-color: rgb(154, 255, 255);
    width: 150px;
    height: 30px;
}

.addPet:hover {
    background-color: rgb(0, 255, 255);
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    height: 800px;
    width: 550px;
    overflow: auto;
    border-radius: 7px;
}

.list::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: rgba(0, 255, 200, 0.5);
}

.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #00eeff;
}

.list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    border-radius: 50px;
}

.item-list {
    width: 250px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    margin: 5px;
    background-color: #63ffdd;
}

.model {
    display: none;
    visibility: hidden;
}

#gif_logo{
    margin-right: 125px;
}

#shiba_logo{
    position: absolute;
}

#id,
#nome,
#porte,
#descricao{
    font-size: 20px;
}