* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

strong{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 255, 200, 0.5);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #00eeff;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    border-radius: 50px;
}

header{
    background: linear-gradient(#00f7ff, #0099ff);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1500px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oculto {
    display: none;
    visibility: hidden;
}

button {
    border-radius: 50px;
    font-weight:700;
    font-size: 15px;
}

.box-end:hover {
    background-color: rgb(0, 255, 255);
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    height: 800px;
    width: 550px;
    overflow: auto;
    border-radius: 7px;
    padding: 10px;
}

.list::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: rgba(0, 255, 200, 0.5);
}

.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #00eeff;
}

.list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    border-radius: 50px;
}

.form {
    position: relative;
    width: 500px;
    height: 300px;
    top: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    gap: 10px;
}

.modal_close {
    position: absolute;
    top: -20px;
    right: -20px;
    height: 20px;
    width: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background-color: transparent;
}

.modal_close:hover{
    color: black;
}

.item-list {
    width: 250px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #cefff4;
}

.model {
    display: none;
    visibility: hidden;
}



#gif_logo{
    margin-right: 125px;
}

#shiba_logo{
    position: absolute;
}

#id,
#nome,
#porte,
#descricao{
    font-size: 20px;
}

#descricao{
    margin-left: 10px;
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addReserva {
    background-color: rgb(154, 255, 255);
    width: 150px;
    height: 30px;
}

.addReserva:hover {
    background-color: rgb(0, 255, 255);
}

#cards {
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 5px;
}

.text-center {
    text-align: center;
}

.box-end{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d2ffff;
}

a{
    color: black;
    text-decoration: none;
    font-size: large;
}

a:hover{
    text-decoration: underline; 
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    overflow: auto;
    border-radius: 7px;
    padding: 10px;
}

#cards::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: rgba(0, 255, 200, 0.5);
}

#cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #00eeff;
}

#cards::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    border-radius: 50px;
}

.card{
    border: 1px solid #e6e7e8;
    margin: 0 30px 30px 0;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0px 10px 20px;
    background-color: #D2FFFF;
}

.box-end {
    border: 1px solid #e6e7e8;
    margin: 0 30px 30px 0;
    height: 140px;
}

.remove{
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 220px;
}

#home{
    display: flex;
    margin: 90px;
    color: #000ba8;
    font-size: 22px;
}