*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 5px ;
}

header{
    background-color: #0084ff;
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oculto {
    display: none;
    visibility: hidden;
}

.addReserva {
    background-color: rgb(154, 255, 255);
    width: 150px;
    height: 30px;

}

.addReserva:hover {
    background-color: rgb(0, 255, 255);
}

button {
    border-radius: 50px;
}
.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    height: 800px;
    width: 550px;
    overflow: auto;
    border-radius: 7px;
}

.list::-webkit-scrollbar{
    width: 12px;
    height: 8px;
    background-color:  rgba(0, 255, 200, 0.5);
}

  /* Add a thumb */
  .list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
    background: #00eeff;
  }

.list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px     rgb(255, 255, 255); 
    border-radius: 50px;
}

.item-list {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    margin: 5px;
}

.model {
    display: none;
    visibility: hidden;
}

p {
    margin: 5px;
    font-size: 20px;
}

#delBTN{
    height: 30px;
    width: 150px;
    background-color: rgb(255, 78, 78);
}