

body{
    background-image: url(../docs/rotweiler.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

header{
    background-color: black;
    width: 1880px;
    height: 110px;
    margin-top: 40px;
    border-radius: 25px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: black;
}

h1{
    text-align: center;
    color: white;
    font-size: 80px;
}

.leiter{
    color: white;
    font-size: 40px;
    text-align: center;
}

.table{
    background-color: rgb(138, 138, 138);
    height: 400px;
    width: 500px;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    gap: 40px;
}

input{
    display: flex;
    width: 300px;
    height: 30px;
    border-radius: 25px;
    text-align: center;
    color: black;
    cursor: pointer;
}

button{
    height: 40px;
    width: 130px;
    border: 2px solid black;
    border-radius: 25px;
}